#pragma once

#include <{{.Entity.Namespace}}/{{.Entity.Name}}.hpp>

#include <vector>

namespace {{.Namespace}} {

template<typename T = {{.Entity.Qualify}}>
struct {{.Name}} {
    using entity_type = T;
    std::vector<T> entities;

    T& create() { return entities.emplace_back(); }
};

} // namespace {{.Namespace}}
