#pragma once

{{range .Traits}}#include "{{$.Namespace}}/Trait/{{.}}.hpp"
{{end}}
namespace {{.Namespace}} {

struct {{.Name}} {
    using traits = std::tuple<{{range $i, $t := .Traits}}{{if $i}}, {{end}}{{$t}}{{end}}>;
{{range .Traits}}    {{.}} {{.}};
{{end}}};

} // namespace {{.Namespace}}
