#pragma once

#include <GameAk/Runtime/runtime.h>
#include <GameAk/Runtime/fsm.h>
{{if .Entity.Name}}#include <{{.Entity.Namespace}}/{{.Entity.Name}}.hpp>
{{end}}
inline gameak::core::Result<void> register_{{.Name}}(gameak::runtime::Runtime<>& rt) {
    gameak::runtime::Fsm<std::string, std::string> fsm;
    fsm.initial_state("{{.Initial}}");
{{range .States}}    fsm.add_state("{{.Name}}");
{{end}}
{{range $state := .States}}{{range .Transitions}}    fsm.add_transition("{{$state.Name}}", "{{.Event}}", "{{.Target}}");
{{end}}{{end}}
    return rt.register_controller(fsm.build(), {{.Priority}});
}
