#pragma once

#include <tuple>

{{range .Components}}#include <{{.Namespace}}/{{.Name}}.hpp>
{{end}}
namespace {{.Namespace}} {

struct {{.Name}} {
    using components = std::tuple<{{range $i, $t := .Components}}{{if $i}}, {{end}}{{$t.Qualify}}{{end}}>;
{{range .Components}}    {{.Qualify}} {{.Name}}_;
{{end}}};

} // namespace {{.Namespace}}
