#include "bootstrap.hpp"

namespace game {

void register_components(gameak::runtime::Runtime<>& rt) {
    // Include generated component headers and call register_<Name>(rt) here:
    //
    //   #include <Core/Component/Position.hpp>
    //   register_Position(rt);
}

void register_controllers(gameak::runtime::Runtime<>& rt) {
    // Register game controllers here:
    //
    //   rt.register_controller(my_controller);
}

} // namespace game
