#include "bootstrap.hpp"

// @seed:begin(components_include)
// @seed:end(components_include)

// @seed:begin(controllers_include)
// @seed:end(controllers_include)

namespace game {

gameak::core::Result<void> register_components(gameak::runtime::Runtime<>& rt) {
    // @seed:begin(components_reg)
    // @seed:end(components_reg)
    return {};
}

gameak::core::Result<void> register_controllers(gameak::runtime::Runtime<>& rt) {
    // @seed:begin(controllers_reg)
    // @seed:end(controllers_reg)
    return {};
}

} // namespace game
