#include "bootstrap.hpp"

namespace game {

void register_components(gameak::runtime::Runtime<>& rt) {
    // @seed:begin(components)
    // Generated component registrations will be inserted here by `seed sync`
    // @seed:end(components)
}

void register_controllers(gameak::runtime::Runtime<>& rt) {
    // @seed:begin(controllers)
    // Generated controller registrations will be inserted here by `seed sync`
    // @seed:end(controllers)
}

} // namespace game
