#pragma once

#include <GameAk/Runtime/runtime.h>

namespace game {

gameak::core::Result<void> register_components(gameak::runtime::Runtime<>& rt);
gameak::core::Result<void> register_controllers(gameak::runtime::Runtime<>& rt);

} // namespace game
