#pragma once

#include <GameAk/Runtime/runtime.h>

namespace game {

void register_components(gameak::runtime::Runtime<>& rt);
void register_controllers(gameak::runtime::Runtime<>& rt);

} // namespace game
