#pragma once

#include <{{.Name}}/Worlds/World.hpp>
#include <{{.Name}}/Systems/System.hpp>

namespace {{.Name}} {

class Runtime {
public:
    Runtime();
    ~Runtime();

    Runtime(const Runtime&) = delete;
    auto operator=(const Runtime&) -> Runtime& = delete;

    Runtime(Runtime&&) noexcept = default;
    auto operator=(Runtime&&) noexcept -> Runtime& = default;

    auto run() -> int;

private:
    World m_world;
    System m_system;
    bool m_running{true};
};

}
