#pragma once

#include <AK/Core/Types.hpp>

namespace {{.Name}} {

class World {
public:
    World();
    ~World();

    World(const World&) = delete;
    auto operator=(const World&) -> World& = delete;

    World(World&&) noexcept = default;
    auto operator=(World&&) noexcept -> World& = default;
};

}
