add_rules("mode.debug", "mode.release")
set_languages("c++20")

add_requires("libsdl3")

includes("Third-Party/GameAK")

target("{{.Name}}")
    set_kind("binary")
    add_includedirs("Include")
    add_files("Src/*.cpp")
    add_files("Src/Game/*.cpp")
    add_files("Src/Game/**/*.cpp", {force = true})
    add_packages("libsdl3")
    add_deps("gameak-runtime", "gameak-core")
    add_cxxflags("-Wno-interference-size")
